h1{
	font-family: Arial, serif;
	color: darkblue;
	text-align: center;
}
h2{
	font-family: Arial, sans-serif;
	color: blue;
	text-align: center;
}
img{
	height: 550px;
	width: 450px;
	margin: 100px 730px;
}